.container-detalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    height: 89vh;
}

.card-detalhes {
    width: 500px;
    background-color: #CCC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-detalhes img {
    height: 450px;
}

.card-detalhes .info  {
    width: 100%; 
    padding: 10px;
    background-color: #8d8d8d;
}

.card-detalhes .info .item {
   margin: 5px 10px;
}
.card-detalhes .info .ability,
.card-detalhes .info .status,
.card-detalhes .status .types {
    width:  100%;
    display: flex;
}


.card-detalhes .info .status { 
    display: grid;  
    grid-template-columns: 50% 1fr; 
}
.container-detalhes .favoritos .button-favorito {
        cursor: pointer;
        background-color: #F22F2B;
        height: 50px;
        width: 500px;
        color: #FFF;
        font-size: 20px;
}
.container-detalhes .favoritos .button-favorito:hover {
    background-color: #f22e2bc0;
}