.header {
    background-color: brown;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(224, 216, 104);
}

.header a {
    color: rgb(224, 216, 104);
    font-size: 24px;
}

.header img {
    width: 50px;
}



.header .search .shield-text {
    width: 250px;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 8px;
}

.header .search .button-search {
    cursor: pointer;
    background-color: green;
    border-radius: 8px;
    height: 40px;
    width: 150px;
}
.header .search .button-search:hover {
    background-color: #15ff00;
}

.container-home {
    display: flex;   
    flex-direction: column;
}

.container-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-home .container-contents .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 50px;
}
.container-home .container-contents .navigation .buttonPages {
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.container-home .container-contents .navigation ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




/*  RESPONSIVIDADE */

@media(max-width: 850px) {
    .header .search {
        display: flex;
        flex-direction: column; 
    }

    .header .search .shield-text,
    .header .search .button-search {
        width: 200px;
    }
}

@media(max-width: 850px) {
    .header .search .shield-text,
    .header .search .button-search {
        width: 150px;
        display: flex;
        align-self: center;
    }
    .header .search .button-searc {
        border: 1px solid white;
        margin: 20px;
    }
}