.header {
    background-color: brown;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(224, 216, 104);
}

.header a {
    color: #FFF;
}